services:
  main:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8000:8000"
    volumes:
      - ./server.py:/app/server.py
      - ./models:/root/.cache/huggingface
    restart: unless-stopped
    environment:
      - TZ=Asia/Shanghai
